/* ###################################### */
/* ########## GALLERY ################### */
/* ###################################### */

.gallery-title {
  text-align: center;
  padding: 3.2rem;
}

.gallery-title h2 {
  margin-bottom: 3.2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  align-items: center;
  /* text-align: center; */
}

.gallery-description {
  text-align: center;
}

.gallery a {
  font-size: 1.6rem;
  text-decoration: none;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  max-width: 100%;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.3);
}