/* CSS STYLES SECTION */

/* ###################################### */
/* ######### STYLE CSS ################## */
/* ###################################### */


/* ###################################### */
/* ############# HEADER ################# */
/* ###################################### */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(#d3f9d8, #d3f9d8);
  height: auto;
  padding: 3.2rem;
  position: relative;
}

.logo {
  height: 9.6rem;
}

.header-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1.0rem;
}


/* MAIN TITLE */
/* "Pics 'n' Stuff" */
.title {
  text-align: center;
  font-family: "Genos", sans-serif;
  background-image: linear-gradient(#d3f9d8, #ebfbee);
}

/* ###################################### */
/* ############## HERO ################## */
/* ###################################### */

.hero {
  display: flex;
  width: 100%;
  gap: 6.4rem;
  justify-content: center;
  padding: 0 2rem 0 2rem;
}

.gradient {
  background-image: linear-gradient(#ebfbee 10%, #ffc9c9 40%, #f3d9fa 80%, #f8f0fc 90%)
}

/* .hero-col {
  flex: 30rem;
} */

.crest-img {
  width: 40rem;
}

.shadow {
  box-shadow: 5px 7px 8px rgb(0, 0, 0, 0.5);
}

/* ###################################### */
/* ########## GALLERY ################### */
/* ###################################### */

.gallery-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 3.2rem;
}

.gallery-title h2 {
  margin-bottom: 3.2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  align-items: center;
  text-align: center;
}

.gallery-description {
  text-align: center;
}

.gallery a {
  font-size: 1.6rem;
  text-decoration: none;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  max-width: 100%;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.3);
}
